{% extends "base.html" %}

{% block title %}Chat with {{ friend }}{% endblock %}

{% block content %}
<div class="card">
    <h2>{{ group_chat_name }}</h2>
    <div class="chat-layout">

                <div class="side-chatters">
            {% for person in people %}
            <div class="person">
                <strong>{{ person.username }}</strong>
            </div>
            {% endfor %}
        </div>
        <div class="chat-container">
            <div class="chat-messages" id="chat-messages">
                {% for msg in messages %}
                <div class="message">
                    <strong>{{ msg.username }}:</strong> {{ msg.message }}
                </div>
                {% endfor %}
            </div>

            <form method="POST" action="{{ url_for('chat.send_group_chat_message') }}">
                <div class="message-input">
                    <input type="text" id="message-input" name="message" placeholder="Type your message...">
                    <button type="submit" class="btn" id="send-btn">Send</button>
                </div>
            </form>
        </div>


    </div>
</div>


{% endblock %}
